<p>Marketing / Home page</p>

<%= if assigns[:current_user?] == false do %>
  <%= link "Login", to: Routes.auth_path(@conn, :request, "github") %>
<% else %>
  Logged in
  <%= link "Go to dashboard", to: Routes.dashboard_path(@conn, :show) %>
<% end %>
